@model IEnumerable<System.Nullable<double>>
<div id="12">
    @foreach (var item in Model)
    {
        @Html.CheckBox(item.ToString());
        <span>@item.ToString()</span>
        <b>&nbsp;</b>
    }
</div>



